// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// Aspect ratio
@mixin aspect-ratio( $percentage ) {
	position: relative;

	&::before {
		content: '';
		display: block;
		padding-top: $percentage;
		width: 100%;
	}

	> .aspect-ratio-content {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
}

// Horizontal and vertical centering using `transform: translate()`
@mixin centering( $direction: 'both' ) {
	position: absolute;

	@if ( 'vertical' == $direction ) {
		bottom: auto;
		top: 50%;
		transform: translateY( -50% );
	}

	@elseif ( 'horizontal' == $direction ) {
		left: 50%;
		right: auto;
		transform: translateX( -50% );
	}

	@else {
		bottom: auto;
		left: 50%;
		right: auto;
		top: 50%;
		transform: translate( -50%, -50% );
	}
}
